.errorDiv {
  display: flex;
  width: 90%;
  height: 90%;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  flex-wrap: wrap;
  font-size: 5rem;
}
.mainPageLink,
.error {
  width: 100%;
  text-align: center;
}
.mainPageLink:hover {
  text-decoration: underline;
}
