.id {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
  height: 90vh;
  background-color: rgb(4, 88, 4);
  color: white;
}
.id p {
  text-align: center;
  width: 100%;
}
.idp {
  font-size: 3rem;
}
.link {
  cursor: pointer;
  color: white;
}
.link:hover {
  text-decoration: underline;
}
