.main {
  width: 90%;
  row-gap: 10px;
  padding: 20px 0;
  background-color: #3e723c;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.index {
  width: 75%;
  align-content: space-evenly;
  background-color: white;
  height: 75px;
}
.main,
.index {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.name,
.website {
  width: 100%;
}
.email:hover,
.website:hover,
.details:hover {
  text-decoration: underline;
}
.details {
  cursor: pointer;
}
.name {
  text-align: center;
}
.website {
  text-align: center;
  text-transform: capitalize;
}
