.spiner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-color: blue;
  border-left-color: transparent;
  animation-name: spiner;
  animation-timing-function: ease;
  animation-duration: 1.5s;
  animation-delay: 0;
  animation-iteration-count: infinite;
/*   animation: spiner 1.5s ease 0 infinite;
  -webkit-animation: spiner 1.5s ease 0 infinite; */
}
@keyframes spiner {
  0%,
  50%,
  100% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
  25%,
  75% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
}
